body {
  padding: 0px;
  margin: 0px;
  background-color: #ddd4ff;
  color:black;
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 1.2em;
}

button {
  font-size: 1.3em;
}

#titlebar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #6932a8;
  color:white;
}

#infoboxes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#infoboxes {
  width:50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
